{% extends 'base.html' %}

{% block conteudo %}

<div class="pesquisa-encomendas">
    <button type="button" class="botao btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro">
        Cadastrar cliente
    </button>
</div>
<div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="mostrar1" aria-hidden="true">
    <form id="form-cadastro" action="{{ url_for('cadastrar_cliente') }}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="mostrar1">Cadastrar cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>
                        <input id="input-nome" placeholder="Digite seu nome" name="form-nome"
                               class="form-modal">
                    </label>
                    <label>
                        <input id="input-cpf" placeholder="Digite seu CPF"
                               name="form-cpf" class="form-modal">
                    </label>
                    <label>
                        <input id="input-telefone" placeholder="Digite seu telefone" name="form-telefone"
                               class="form-modal">
                    </label>
                    <div class="modal-cep">
                        <label>
                            <input id="form-cep" placeholder="Digite seu CEP" name="form-cep"
                                   class="form-modal">
                        </label>
                        <a type="submit" onclick="get_cep()" class="botao_cep btn btn-primary">Buscar</a>
                    </div>
                    <div>
                        <label>
                            <input id="form-cidade" placeholder="Cidade" name="form-cidade"
                                   class="form-modal" value="" disabled>
                        </label>
                        <label>
                            <input id="form-uf" placeholder="Estado" name="form-uf"
                                   class="form-modal" value="" disabled>
                        </label>
                    </div>
                </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar
                    </button>
                    <button type="submit" class="btn btn-info">Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for i in var_clientes %}
    <tr>
        <td>{{i["id_cliente"]}}</td>
        <td>{{i["nome"]}}</td>
        <td>{{i["cpf"]}}</td>
        <td>{{i["telefone"]}}</td>
        <td>{{i["endereco"]}}</td>
        <td>
            <a data-bs-toggle="modal" data-bs-target="#editar{{i['id_cliente']}}"><i
                    class="bi bi-pencil-square text-primary fs-6"></i></a>
        </td>
    </tr>
    <div class="modal fade" id="editar{{i['id_cliente']}}" tabindex="-1" aria-labelledby="mostrar{{i['id_cliente']}}"
         aria-hidden="true">
        <form id="form-editar" action="{{ url_for('edit_cliente', var_id = i['id_cliente']) }}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="mostrar{{i['id_cliente']}}"><i
                                class="bi bi-pencil-square text-primary fs-6"></i> Editar {{i["nome"]}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label>
                            <input id="input-nome1" placeholder="Digite seu nome" name="form-nome"
                                   class="form-modal" value="{{i.nome}}">
                        </label>
                        <label>
                            <input id="input-cpf1" placeholder="Digite seu CPF"
                                   name="form-cpf" class="form-modal" value="{{i.cpf}}">
                        </label>
                        <label>
                            <input id="input-telefone1" placeholder="Digite seu telefone" name="form-telefone"
                                   class="form-modal" value="{{i.telefone}}">
                        </label>
                        <label>
                            <input id="input-cep1" placeholder="Digite seu CEP" name="form-cep"
                                   class="form-modal" value="{{i.cep}}">
                        </label>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Fechar
                        </button>
                        <button type="submit" class="btn btn-info">Editar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% endfor %}
    </tbody>
</table>

<script src="/static/js/get_cep.js"></script>

{% endblock conteudo %}