{% extends 'base.html' %}

{% block conteudo %}

<!--Pesquisa-->
<div class="pesquisa-encomendas">
    <button type="button" class="botao btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro">
        Lançar encomenda
    </button>
</div>

<!--Modal-->

<div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="mostrar1" aria-hidden="true">
    <form id="form-cadastro" action="{{ url_for('cadastrar_encomenda') }}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="mostrar1">Lançar encomenda</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select" aria-label="Default select example" name="form-remetente">
                        <option selected>Selecione o Remetente</option>
                        {% for i in var_empre %}
                        <option value="{{i['nome']}}">{{i["id_empresa"]}} - {{i["nome"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-body">
                    <select class="form-select" aria-label="Default select example" name="form-destinatario">
                        <option selected>Selecione seu Destinatário</option>
                        {% for i in var_cliente %}
                        <option value="{{i['nome']}}">{{i["nome"]}} - {{i["cep"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar
                    </button>
                    <button type="submit" class="btn btn-info">Lançar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Código de Rastreio</th>
        <th scope="col">Remetente</th>
        <th scope="col">Destinatário</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for i in var_enco %}
    <tr>
        <td>{{i["id_encomenda"]}}</td>
        <td>{{i["codigo_r"]}}</td>
        <td>{{i["remetente"]}}</td>
        <td>{{i["destinatario"]}}</td>
        {% if i["status_encomenda"] == "POSTADO" %}
        <td>
            <div class="status_encomenda bg-warning">Postado</div>
        </td>
        {% elif i["status_encomenda"] == "TRANSITO" %}
        <td>
            <div class="status_encomenda bg-info">Em Transito</div>
        </td>
        {% elif i["status_encomenda"] == "ENTREGUE" %}
        <td>
            <div class="status_encomenda bg-success">Entregue</div>
        </td>
        {% endif %}
        <td><a><i class="bi bi-shuffle btn btn-primary"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}