{% extends 'base.html' %}

{% block conteudo %}

<button type="button" class="botao btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro">
    Lançar movimentação
</button>

<div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="mostrar1" aria-hidden="true">
    <form id="form-cadastro" action="{{ url_for('post_logistica') }}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="mostrar1">Lançar movimentação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>
                        <input id="input-data" placeholder="Digite o CEP" name="form-cep"
                               class="form-modal">
                    </label>
                    <label>
                        <select class="form-select" aria-label="Default select example" name="form-encomenda">
                            <option selected>Selecione a encomenda da movimentação</option>
                            {% for i in var_enco %}
                            <option value="{{i['id_encomenda']}}">{{i["remetente"]}} - {{i["destinatario"]}}</option>
                            {% endfor %}

                        </select>
                    </label>
                    <label>
                        <select class="form-select" aria-label="Default select example" name="form-cliente">
                            <option selected>Selecione o cliente da movimentação</option>
                            {% for i in var_clie %}
                            <option value="{{i['id_cliente']}}">{{i["nome"]}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Fechar
                    </button>
                    <button type="submit" class="btn btn-info">Lançar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Lista-->

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Data</th>
        <th scope="col">Localização</th>
        <th scope="col">Código de Rastreio</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock conteudo %}