{% extends 'base.html' %}

{% block conteudo %}

<div class="login d-flex justify-content-center align-items-center">
    <div class="card_login card">
        <img src="../static/img/login.png" height="125" width="150"/>
        <form id="form-login" action="{{ url_for('login') }}" method="post"
              class="card_login d-flex flex-column justify-content-center align-items-center">
            <label class="my-2">
                <div class="d-flex">
                    <i class="icone_input bi bi-person-vcard"></i>
                    <input placeholder="Digite o Email" name="form-email" class="form-control">
                </div>
            </label>

            <label class="my-2">
                <div class="d-flex">
                    <i class="icone_input bi bi-clipboard2"></i>
                    <input placeholder="Digite a senha" type="password" name="form-senha"
                           class="form-control">
                </div>
            </label>
            <button type="submit" class="botao btn btn-light my-2">Entrar</button>
            <div class="pergunta d-flex justify-content-center flex-column">
                <p>Ainda não tem login?</p>
                <button type="button" class="botao btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastro">
                    Cadastrar-se
                </button>
            </div>
        </form>


        <!-- Modal -->
        <div class="modal fade" id="cadastro" tabindex="-1" aria-labelledby="mostrar1" aria-hidden="true">
            <form id="form-cadastro" action="{{ url_for('cadastrar_user') }}" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="mostrar1">Cadastro</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label>
                                <input id="input-nome" placeholder="Nome" name="form-nome"
                                       class="form-modal">
                            </label>
                            <label>
                                <input id="input-nascimento"
                                       name="form-nascimento" class="form-modal" type="date">
                            </label>
                            <label>
                                <input id="input-email" placeholder="username@email.com" name="form-email"
                                       class="form-modal" type="email">
                            </label>
                            <label>
                                <input id="input-senha2" placeholder="Password" name="form-senha"
                                       class="form-modal" type="tel">
                            </label>
                            <label>
                                <select class="form-select" aria-label="Default select example" name="form-perfil">
                                    <option selected>Selecione seu cargo</option>
                                    <option value="ADMIN">Administrador</option>
                                    <option value="FUNCIONARIO">Funcionário</option>
                                </select>
                            </label>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Fechar
                            </button>
                            <button type="submit" class="btn btn-info">Cadastrar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock conteudo %}